VITE_FIREBASE_API_KEY=AIzaSyA9avmK4ed3JDBzRCVh0-602BoLVU8Cgn8
VITE_FIREBASE_AUTH_DOMAIN=tarot-5719b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tarot-5719b
VITE_FIREBASE_STORAGE_BUCKET=tarot-5719b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=30679561256
VITE_FIREBASE_APP_ID=1:30679561256:web:392561ac7f849bbe2f311d
VITE_FIREBASE_MEASUREMENT_ID=G-973ZSG8E6C
VITE_GAS_API_URL=https://script.google.com/macros/s/YOUR_GAS_ID/exec
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
